@import "ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&family=Share+Tech+Mono&display=swap');

*{
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
