<div class="container">
    <div class="recipe-header recipe-component">
        <div class="field">
            <label for="patient">Пациент: </label>
            <input type="text" id="patient" placeholder="ЕГН" disabled>
        </div>
        <div class="field">
            <label for="patient-age">Години: </label>
            <input type="text" id="patient-age" placeholder="Години" disabled>
        </div>
        <div class="field">
            <label for="doctor">Лекар: </label>
            <input type="text" id="doctor" placeholder="Димитър Георгиев Стоянов" disabled>
        </div>
    </div>
    <div class="recipe-sub-header">
        <div class="field diagnosis-field">
            <label for="diagnosis">Диагноза: </label>
            <input type="text" id="diagnosis" placeholder="Кашлица" disabled>
        </div>
    </div>

    <div class="recipe-body recipe-component">
        <button class="btn add-medicine">Добави лекарство</button>
    </div>

    <div class="recipe-footer recipe-component">
        <div class="validity">
            <div class="start date">
                <p>Издадена на</p>
                <p>01.12.2023</p>
            </div>
            <div class="end date">
                <p>Валидна до</p>
                <p>02.12.2023</p>
            </div>
        </div>
    </div>
    <div class="recipe-id">
        <h3>ID: dsadsadojsamd1dsa4dsa55dsa</h3>
    </div>
</div>