<form >
  <select id="select-med-input" name="Изберете лекарство" >
    <option value="Изберете лекарство">Изберете лекарство</option>
    <option value="2">2</option>
  </select>
  <h4>Прием</h4>
  <div id="inputs-container">
    <input class="intake-input" type="text" placeholder="Сутрин...">
    <input class="intake-input" type="text" placeholder="Обед...">
    <input class="intake-input" type="text" placeholder="Вечер...">
  </div>
  <h4>Допълнителни бележки</h4>
  <textarea id="additionalInfo" placeholder="Допълнителна информация..." ></textarea>
  <div id="btns-container">
    <button class="btn" id="proceedBtn" type="submit">Предпиши</button>
    <button class="btn" id="cancelBtn">Отказ</button>
  </div>


</form>
