.form {
  width: 90%;
  /* min-width: 250px; */
  background: rgb(5, 45, 70);
  background: linear-gradient(
    209deg,
    rgba(5, 45, 70, 1) 5%,
    rgba(172, 224, 249, 1) 44%,
    rgba(255, 255, 255, 1) 87%
  );
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  margin: 30px 0;
  border-radius: 15px;
  text-align: center;
}

#selectMedInput {
  background-color: white;
  border: none;
  font-weight: bolder;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

#selectMedInput:focus {
  outline: none;
}

h4 {
  align-self: flex-start;
}

#additionalInfo {
  max-width: 100%;
  min-width: 50%;
  margin-bottom: 20px;
  align-self: flex-start;
}

#additionalInfo:focus {
  outline: none;
}

#inputs-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
}

.intake-input {
  height: 35px;
  width: 65%;
  padding: 5px 7px;
  border: none;
  border-radius: 5px;
}

#btns-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
}

.intake-input:active,
.intake-input:focus {
  outline: none;
  border: none;
}

.btn {
  display: inline-block;
  width: 70%;
  align-self: center;
  margin: 7px 0;
  border-radius: 10px;
  padding: 9px 7px;
  text-transform: uppercase;
  color: #fff1eb;
  letter-spacing: 1.5px;
  /* box-shadow: 2px 3px 4px #052d46, inset -2px -3px 4px #052d46; */
  border: none;
}

#proceedBtn {
  background-color: #94c646;
  box-shadow: 2px 3px 4px #447336, inset -2px -3px 4px #447336;
}

#proceedBtn:active,
#proceedBtn:hover{
  box-shadow: 2px 3px 4px #447336, inset 2px 3px 4px #447336;
}

#cancelBtn {
  background-color: #e6303a;
  box-shadow: 2px 3px 4px #8d1d40, inset -2px -3px 4px #8d1d40;
}

#cancelBtn:active,
#cancelBtn:hover{
  box-shadow: 2px 3px 4px #8d1d40, inset 2px 3px 4px #8d1d40;
}

@media only screen and (min-width: 600px) {
  .form {
    background: none;
    box-shadow: 1px 1px 5px #052d46;
  }

  #selectMedInput {
    border: 1px solid #052d46;
    border-radius: 10px;
    appearance: auto;
    -webkit-appearance: auto;
  }

  .intake-input {
    border: 1px solid #052d46;
    width: 100%;
  }

  #inputs-container,
  h4,
  #additionalInfo,
  #inputs-container,
  #btns-container {
    align-self: center;
  }
}
