<div class="component">
    <div class="search">
        <input type="text" placeholder="Лекарство">
    </div>

    <div class="all-meds">

        <div class="medicament">
            <div class="group">
                <p>Общи лекарства</p>
            </div>
            <div class="img">
                <img src="https://static.framar.bg/product/sopharma-analgin-tabletki-metamizol-natrii-bolka-temperatura.jpg" alt="med img">
            </div>
            <div class="details">
                <button class="btn details-btn">Детайли</button>
            </div>
        </div>

        <div class="medicament">
            <div class="group">
                <p>Общи лекарства</p>
            </div>
            <div class="img">
                <img src="https://static.framar.bg/product/sopharma-analgin-tabletki-metamizol-natrii-bolka-temperatura.jpg" alt="med img">
            </div>
            <div class="details">
                <button class="btn details-btn">Детайли</button>
            </div>
        </div>

        <div class="medicament">
            <div class="group">
                <p>Общи лекарства</p>
            </div>
            <div class="img">
                <img src="https://static.framar.bg/product/sopharma-analgin-tabletki-metamizol-natrii-bolka-temperatura.jpg" alt="med img">
            </div>
            <div class="details">
                <button class="btn details-btn">Детайли</button>
            </div>
        </div>

        <div class="medicament">
            <div class="group">
                <p>Общи лекарства</p>
            </div>
            <div class="img">
                <img src="https://static.framar.bg/product/sopharma-analgin-tabletki-metamizol-natrii-bolka-temperatura.jpg" alt="med img">
            </div>
            <div class="details">
                <button class="btn details-btn">Детайли</button>
            </div>
        </div>

    </div>
</div>
