<div class="component">
    <div class="search">
        <input type="text" placeholder="Лекарство">
    </div>

    <div class="all-meds">

        <div *ngFor="let med of all; let index = index" class="medicament">
            <div class="group">
                <p>{{med.name}}</p>
            </div>
            <div class="img">
                <img [src]="'data:image/png;base64,'+ med.medicineImageBytes" alt="med img">
            </div>
            <div class="details">
                <button [routerLink]="['/details', med.id]" class="btn details-btn">Детайли</button>

            </div>
        </div>



    </div>
</div>
