.component {
  max-width: 80vw;
  min-height: 50vh;
  background: rgb(229, 232, 248);
  margin: 0 auto;
}

.search {
  text-align: center;
}
.search input {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.search button {
  margin-top: 10px;
}

.search button i {
  font-size: 17px;
}

.all-meds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.medicament {
  margin-top: 20px;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.group p {
  margin: 0;
  background: lightgreen;
  padding: 5px;
  flex: 1;
  overflow: hidden;
}

.img {
  flex: 1;
  display: flex;
  aspect-ratio: 16 / 9;
}

.img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: white;
}

.details {
  flex: 0;
}

.btn {
  width: 100%;
  padding: 5px;
  background: grey;
  color: white;
  font-weight: 600;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-number {
  margin: 0 10px;
  font-weight: bold;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.pagination-btn {
  font-size: 21px;
  padding: 5px 10px;
}
