<link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
<section style="color: #fff;">
  <nav class="stroke">

    <!-- <h2>Здравейте, {{greetings[role]}} {{name}}</h2>   -->

    <div class="content">
      <div class="card">
          <div class="firstinfo">
            <img *ngIf="role === 'Pharmacy'" src="../../../../assets/images/—Pngtree—pharmacy flat style illustration store_6855692.png" />
            <img *ngIf="role === 'Pharmacist'" src="../../../../assets/images/pngwing.com.png" />
            <img *ngIf="role === 'GP' || role === 'Patient'"  [src]="'data:image/png;base64,' + profileImg" />

              <div *ngIf="role === 'GP' || role === 'Patient'"  class="profileinfo">
                  <h3 class="header-name"> Добре дошли {{greetings[role]}} {{name}} </h3>
                  <h3>Егн: {{id}}</h3>
              </div>
              <div *ngIf="role == 'Pharmacy'" class="profileinfo">
                <h3 class="header-name"> Вие сте влезли като: {{name}} </h3>
                <!-- <h3>Егн: {{id}}</h3> -->
            </div>
            <div *ngIf="role == 'Pharmacist'" class="profileinfo">
              <h3 class="header-name"> Вие сте влезли като Фармацевт: {{name}} </h3>
              <!-- <h3>Егн: {{id}}</h3> -->
          </div>
          </div>
      </div>
  </div>
    <ul>
      <!-- <li>About</li> -->
      <!-- <li *ngIf="role === 'Pharmacy'" routerLink="/pharmacy/add-medicine">Add medicaments</li> -->
      <li  [routerLink]="['/patient/profile', id]" >Профил</li>
      <li routerLink="/catalog">Каталог</li>
      <li routerLink="/pharmacy/add-medicine">Добави лекарство</li>
      <li routerLink="/doctor/recipe/new">Създай рецепта</li>
      <li routerLink="/pharmacist/search">Намери рецепта</li>
      <!-- <li><a href="#">Nice staff</a></li> -->
      <li (click) = logout()>Излез</li>
    </ul>
  </nav>
</section>
