<div class="container">
    <div class="recipe-form">
        <form #form="ngForm" (ngSubmit)="recipeInfo(form)">
            <div class="recipe-header recipe-component">
                <div class="field">
                    <label for="patient">Пациент: </label>
                    <input type="text" id="patient" placeholder="ЕГН"  name="patientEgn" id="patient"
                        #inputpatient="ngModel" (input)="emit(inputpatient.value)" required ngModel>
                </div>
                <div class="field">
                    <label for="patientАge">Години: &asymp;</label>
                    <input type="text" disabled id="patientАge" placeholder="Години" type="text" name="patientАge"
                        id="patientАge" #inputpatientАge="ngModel" required [(ngModel)] = "years">
                </div>
                <div class="field">
                    <label for="doctor">Лекар: </label>
                    <input type="text" id="doctor" placeholder="Димитър Георгиев Стоянов" type="text" name="doctor"
                        id="doctor" #inputdoctor="ngModel" required ngModel>
                </div>

                <div class="field diagnosis-field">
                    <label for="diagnosis">Диагноза: </label>
                    <input type="text" id="diagnosis" placeholder="Кашлица" type="text" name="diagnosis" id="diagnosis"
                        #inputdiagnosis="ngModel" required ngModel>
                </div>
                <button class="btn add-recipe" type="submit">Създай рецепта</button>
            </div>


            <div class="recipe-body recipe-component" *ngFor="let med of CacheService.allMedicinesAdded; let index = index">
                <details class="current-medicine">
                    <summary>
                        <h4>{{med.medicineId}}</h4>
                    </summary>

                    <app-recipe-info-med [med]="med" [index] = "index" />

                </details>
            </div>

            <app-recipe-add-med-form />
<!--          (nestedFormValues)="CacheService.nestedFormValues = $event"-->
          <button class="btn add-medicine" type="button" (click)="CacheService.showAddMedicineComponent()"
                *ngIf="CacheService.displayAddMedicine== 'flex'? false:true">Добави
                лекарство</button>


            <div class="recipe-footer recipe-component">
                <div class="validity">
                    <div class="start date">
                        <p>Издадена на</p>
                        <p class="start-date">{{formattedDate}}  </p>

                    </div>
                    <div class="end date">
                        <p>Валидна до</p>
                        <input type="date" ngModel name="expiresAt" #inputEndDate="ngModel">
                    </div>
                </div>
                <div class="recipe-id" *ngIf="recipeId">
                    <h3>ID: {{recipeId}}</h3>
                </div>
            </div>

        </form>
    </div>
</div>
