@import url("https://fonts.googleapis.com/css2?family=Inter&family=PT+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

.container {
  height: 100%;
  color: #265978;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.recipe-form {
  min-height: 100px;
  /* margin: 0 auto; */
}

.recipe-header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.field {
  padding: 10px;
  /* width: 300px; */
  display: flex;
  justify-content: space-evenly;
}

.field label {
  padding: 10px;
}

.field input {
  border: none;
  background: none;
  border-bottom: 2px solid grey;
  color: #002e29;
}

.field input:focus {
  outline: none;
}
.error {
  color: rgb(158, 12, 12);
}

.btn {
  display: inline-block;
  width: 35%;
  align-self: flex-end;
  margin: 0 35px 25px 35px;
  border-radius: 10px;
  padding: 9px 7px;
  text-transform: uppercase;
  background: #265978;
  color: #fff1eb;
  letter-spacing: 1.5px;
  box-shadow: 2px 3px 4px #052d46, inset -2px -3px 4px #052d46;
  border: none;
}

.add-recipe:hover,
.add-recipe:active {
  box-shadow: 2px 3px 4px #052d46, inset 2px 3px 4px #052d46;
}
/* BODY */

.recipe-body {
  display: flex;
  flex-direction: column;
}

/* FOOTER */

.recipe-footer {
  color: #030303;
}

.validity {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date {
  width: 50%;
  text-align: center;
  padding: 10px;
}

.start {
  background-color: grey;
  text-align: -webkit-center;
}

.end {
  background-color: #d9b448;
}

.recipe-id {
  text-align: center;
  padding: 10px 0;
}

/* INPUT DATE */
input[type="date"],
.start-date {
  font-size: 14px;
  background-color: #d9b448;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 1px 1px 5px #7a631d;
  margin-top: 5px;
  max-width: 100%;
}

.start-date {
  background-color: grey;
  box-shadow: 1px 1px 5px rgb(78, 78, 78);
  padding: 10px;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

/* BUTTON */
/* .btn {
  background-color: #343cd6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

.add-medicine {
  /*position: relative;*/
  align-self: flex-end;
  max-width: 230px;
  left: 290px;
  top: 50px;
  background: #808080;
  box-shadow: 2px 3px 4px #ab9d9d, inset -2px -3px 4px #514d4d;
}

.add-medicine:hover,
.add-medicine:active {
  box-shadow: 2px 3px 4px #ab9d9d, inset 2px 3px 4px #514d4d;
}

/* ADD NEW MEDICINE */
.current-medicine {
  border: 3px solid #052d46;
  width: 90%;
  margin: 1em;
  padding: 15px;
  border-radius: 10px;
  display: flex;
}

summary {
  display: flex;
  cursor: pointer;
}

details[open] {
}

/* summary::marker {
  text-align: end !important;
} */
.current-medicine h4 {
  text-align: center;
  /* width: 80%; */
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.button-container .del-recipe{
  background: #c22b2b;
  box-shadow: 2px 3px 4px #7a1010, inset -2px -3px 4px #7a1010;
}

.button-container .del-recipe:hover,
.button-container .del-recipe:active{
  box-shadow: 2px 3px 4px #7a1010, inset 2px 3px 4px #7a1010;
}

@media only screen and (min-width: 600px) {
  .recipe-form {
    width: 450px;
  }

  .container {
    align-items: center;
    margin-top: 2em;
  }

  .btn {
    width: 30%;
  }

  .start-date {
    width: 70%;
  }

  .recipe-id {
    border: 1px solid #052d46;
  }
}
