

<div class="container">
    <div class="recipe-form">
        <form #form="ngForm" (ngSubmit)="recipeInfo(form)">
            <div class="recipe-header recipe-component">
                <div class="field">
                    <label for="patient">Пациент: </label>
                    <div class="inputAndError">

                        <input type="text" id="patient" placeholder="ЕГН"  name="patientEgn" id="patient"
                        #inputpatient="ngModel" minlength="10" maxlength="10" (input)="emit(inputpatient.value)" required ngModel [(ngModel)] = currentRecipe.patientEgn >

                        <ng-container *ngIf="inputpatient.touched">
                            <p class="error" *ngIf="inputpatient?.errors?.['required']">
                                Id is required.
                            </p>
                            <p class="error" *ngIf="inputpatient?.errors?.['minlength'] || inputpatient?.errors?.['maxlength'] ">
                                Please enter correct Id
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="field">
                    <label for="patientАge">Години: &asymp;</label>
                    <input type="text" disabled id="patientАge" placeholder="Години" type="text" name="patientАge"
                        id="patientАge" #inputpatientАge="ngModel" required [(ngModel)] = "years">
                </div>
                <div class="field">
                    <label for="doctor">Лекар: </label>
                    <div class="inputAndError">

                        <input type="text" id="doctor" type="text" name="doctor"
                        id="doctor" #inputdoctor="ngModel" required [(ngModel)]="doctor" disabled>
                        <ng-container *ngIf="inputdoctor.touched">
                            <p class="error" *ngIf="inputdoctor?.errors?.['required']">
                                All fields are required!
                            </p>
                        </ng-container>
                    </div>
                </div>

                <div class="field diagnosis-field">
                    <label for="diagnosis">Диагноза: </label>
                    <div class="inputAndError">
                    <input type="text" id="diagnosis" placeholder="Кашлица" type="text" name="diagnosis" id="diagnosis"
                        #inputdiagnosis="ngModel" required [(ngModel)]="currentRecipe.diagnosis">



                            <ng-container *ngIf="inputdiagnosis.touched">
                                <p class="error" *ngIf="inputdiagnosis?.errors?.['required']">
                                    All fields are required!
                                </p>
                            </ng-container>
                        </div>
                </div>
                <div class="button-container">

                    <button *ngIf="!isEditRecipe  && this.role === 'GP'" class="btn add-recipe" type="submit">Създай рецепта</button>
                    <button *ngIf="isEditRecipe && this.role === 'GP' && !isFulfilled" class="btn add-recipe" type="button" (click)="editRecipe()">Редактирай рецепта</button>
                    <button *ngIf="isEditRecipe && this.role === 'GP' && !isFulfilled" class="btn del-recipe" type="button" (click)="delRecipe()">Изтрий рецепта</button>
                    <button *ngIf="this.role === 'Pharmacist' && !isFulfilled" class="btn fulfill-recipe" type="button" (click)="fulfillRecipe()">Изпълни рецепта</button>
                </div>
            </div>


            <div class="recipe-body recipe-component" *ngFor="let med of CacheService.allMedicinesAdded; let index = index">
                <details class="current-medicine">
                    <summary>
                        <h4>{{med.medicineName}}</h4>
                        <!-- {{med | json}} -->
                    </summary>

                    <app-recipe-info-med [currentRecipe] = "currentRecipe" [med]="med" [index] = "index" />

                </details>
            </div>

            <app-recipe-add-med-form [recipeId]="recipeId!" />
<!--          (nestedFormValues)="CacheService.nestedFormValues = $event"-->
            <span *ngIf="!isEditRecipe">
                <button class="btn add-medicine" type="button" (click)="CacheService.showAddMedicineComponent()"
                *ngIf="CacheService.displayAddMedicine== 'flex'? false:true">Добави
                лекарство</button>
            </span>

            <div class="recipe-footer recipe-component">
                <div class="validity">
                    <div class="start date">
                        <p>Издадена на</p>
                        <p class="start-date">{{formattedDate}}  </p>

                    </div>
                    <div class="end date">
                        <p>Валидна до</p>
                        <input type="date" ngModel name="expiresAt" #inputEndDate="ngModel" [(ngModel)]="currentRecipe.expiresAt">
                    </div>
                </div>
                <div class="recipe-id" *ngIf="recipeId">
                    <h3>ID: {{recipeId}}</h3>
                </div>
            </div>

        </form>
    </div>
</div>
