<div class="wrapper">
  <form  class="form" #form="ngForm">
    <label class="heading" for="recipeNumber">Моля въведете ЕГН на пациент!</label>
    <input
      id="egn"
      type="text"
      required
      ngModel
      name="egn"
      #egn="ngModel"
    >
    <div *ngIf="form.controls['egn']?.touched && form.controls['egn'].invalid">
      <div *ngIf="form.controls['egn'].errors?.['required']" class="error">Полето е задължително!</div>
    </div>
    <button class="btn" (click)="findPatient(egn.value)" type="submit">Намери пациент</button>
  </form>
  
</div>
 