<div id="medInfoContainer" [attr.id]="currentRecord.id">
  <div id="dayTimesContainer">
    <div class="dayTimeContainer">
      <h4 class="dayTimeName">Сутрин</h4>
      <p class="dayTimeInfo">{{currentRecord.morningDose}}</p>
    </div>
    <div class="dayTimeContainer">
      <h4 class="dayTimeName">Обед</h4>
      <p class="dayTimeInfo">{{currentRecord.lunchTimeDose}}</p>
    </div>
    <div class="dayTimeContainer">
      <h4 class="dayTimeName">Вечер</h4>
      <p class="dayTimeInfo">{{currentRecord.eveningDose}}</p>
    </div>
  </div>
  <div id="additionalInfoContainer">
    <h4 id="additionalInfoHeading">Допълнителни бележки</h4>
    <p id="additionalInfo">{{currentRecord.notes}}</p>
  </div>
  <div id="btnsContainer">
    <button class="btn" id="proceedBtn" (click)="finishMedicine()" *ngIf="userService.role === 'pharmacist'">Завърши</button>
<!--    <button class="btn" id="proceedBtn">Завърши</button>-->
    <button class="btn" id="editBtn" *ngIf="userService.role === 'doctor'">Редактирай</button>
    <button class="btn" (click)="editCurrentMedicament()" id="editBtn">Редактирай</button>
    <button class="btn" (click)="DetailsService.deleteMedicament(currentRecord.id)" id="cancelBtn">Изтрий</button>
  </div>

</div>
