* {
  margin: 0;
}

#medInfoContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

#dayTimesContainer {
  display: flex;
}
.dayTimeContainer {
  display: flex;
  border: solid white 0.05cm;
  flex-direction: column;
}

.dayTimeContainer > * {
  background-color: #265978;
  color: white;
  width: 100%;
}
.dayTimeName {
  border-bottom: solid white 0.01cm;
  padding: 10px 20px;
}
.dayTimeInfo {
  text-align: center;
  padding: 20px 0;
}

#additionalInfoContainer {
  text-align: center;
  margin-top: 25px;
}
#additionalInfoHeading {
  margin: 10px;
}
#additionalInfo {
  word-break: break-word;
  padding: 5px 20px;
  border: solid grey 0.01cm;
  border-right: none;
  border-left: none;
}

#btnsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
/* .btn{
  width: 80%;
  border-radius: 100px;
  border: none;
  padding: 10px 0;
} */

.btn {
  width: 70%;
  border-radius: 10px;
  padding: 12px;
  text-transform: uppercase;
  color: #fff1eb;
  letter-spacing: 1.5px;
  /* box-shadow: 2px 3px 4px #052d46, inset -2px -3px 4px #052d46; */
  border: none;
}

#proceedBtn {
  background-color: #94c646;
  box-shadow: 2px 3px 4px #447336, inset -2px -3px 4px #447336;
}

#proceedBtn:active,
#proceedBtn:hover{
  box-shadow: 2px 3px 4px #447336, inset 2px 3px 4px #447336;
}


#editBtn {
  background-color: #d9b448;
  box-shadow: 2px 3px 4px #a88a2e, inset -2px -3px 4px #a88a2e;
}

#editBtn:active,
#editBtn:hover {
  box-shadow: 2px 3px 4px #a88a2e, inset 2px 3px 4px #a88a2e;
}

#cancelBtn {
  background-color: #e6303a;
  box-shadow: 2px 3px 4px #8d1d40, inset -2px -3px 4px #8d1d40;
}

#cancelBtn:active,
#cancelBtn:hover{
  box-shadow: 2px 3px 4px #8d1d40, inset 2px 3px 4px #8d1d40;
}
