<div class="container">
  <div class="bg-img">

  </div>
  <div class="form">
    <form #form="ngForm" appPasswordMatch (ngSubmit)="register(form)">
      <div class="input-groups">
        <div class="form-group" *ngIf="currentRole=='pharmacy'||
                    currentRole=='pharmacist'">
          <input type="text" name="Email" id="Email" placeholder="Email" #inputEmail="ngModel" required ngModel>
        </div>
        <div *ngIf="form.controls['Email']?.touched && form.controls['Email'].invalid">
          <div *ngIf="form.controls['Email'].errors?.['required']" class="error">Email is required.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='patient'||
                    currentRole=='pharmacist'">
          <input type="text" name="FirstName" id="firstName" placeholder="Ivan" #inputfirstName="ngModel" required
            ngModel="Виктор">
        </div>
        <div *ngIf="form.controls['firstName']?.touched && form.controls['firstName'].invalid">
          <div *ngIf="form.controls['firstName'].errors?.['required']" class="error">First name is required.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='patient'||
                    currentRole=='pharmacist'">
          <input type="text" name="MiddleName" id="middleName" placeholder="Ivanov" #inputmiddleName="ngModel" required
            ngModel="Пламенов">
        </div>
        <div *ngIf="form.controls['middleName']?.touched && form.controls['middleName'].invalid">
          <div *ngIf="form.controls['middleName'].errors?.['required']" class="error">Middle name is required.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='patient'||
                    currentRole=='pharmacist'">
          <input type="text" name="LastName" id="surName" placeholder="Petrov" #inputsurName="ngModel" required
            ngModel="Шандров">
        </div>
        <div *ngIf="form.controls['surName']?.touched && form.controls['surName'].invalid">
          <div *ngIf="form.controls['surName'].errors?.['required']" class="error">Surname is required.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='patient'||
                    currentRole=='pharmacist'">
          <input type="number" name="Egn" id="personalId" placeholder="990102****" #inputpersonalId="ngModel" required
            ngModel="1045636665">
        </div>
        <div *ngIf="form.controls['personalId']?.touched && form.controls['personalId'].invalid">
          <div *ngIf="form.controls['personalId'].errors?.['required']" class="error">Personal Id is required.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='pharmacy'||
                    currentRole=='pharmacist'">
          <input type="text" name="PharmacyName" id="PharmacyName" placeholder="PharmacyName"
            #inputPharmacyName="ngModel" required ngModel="Цар Иван">
        </div>
        <div *ngIf="form.controls['PharmacyName']?.touched && form.controls['PharmacyName'].invalid">
          <div *ngIf="form.controls['PharmacyName'].errors?.['required']" class="error">Pharmacy name is required.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='pharmacist'">
          <input type="number" name="UinNumber" id="uinNumber" placeholder="1234567890" #inputuinNumber="ngModel"
            required ngModel="7898777854">
        </div>
        <div *ngIf="form.controls['uinNumber']?.touched && form.controls['uinNumber'].invalid">
          <div *ngIf="form.controls['uinNumber'].errors?.['required']" class="error">Identity Number is required.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'">
          <input type="text" name="HospitalName" id="hospitalName" placeholder="Hospital name..."
            #inputhospitalName="ngModel" required ngModel="Цар Борис 3">
        </div>
        <div *ngIf="form.controls['hospitalName']?.touched && form.controls['hospitalName'].invalid">
          <div *ngIf="form.controls['hospitalName'].errors?.['required']" class="error">Hospital name is required.</div>
        </div>

        <div class="form-group">
          <input type="text" name="PhoneNumber" id="phoneNumber" placeholder="Phone Number..."
            #inputphoneNumber="ngModel" required ngModel="0892794851">
        </div>
        <div *ngIf="form.controls['phoneNumber']?.touched && form.controls['phoneNumber'].invalid">
          <div *ngIf="form.controls['phoneNumber'].errors?.['required']" class="error">Phone Number is required.</div>
        </div>

        <div class="form-group">
          <input type="password" name="Password" id="password" placeholder="Password" #inputpassword="ngModel" required
            ngModel="Health1234@" minlength="8">
        </div>
        <div *ngIf="form.controls['password']?.touched && form.controls['password'].invalid">
          <div *ngIf="form.controls['password'].errors?.['required']" class="error">Password is required.</div>
          <div *ngIf="form.controls['password'].errors?.['minlength']" class="error">Password is too short.</div>
        </div>

        <div class="form-group">
          <input type="password" name="ConfirmPassword" id="rePassword" placeholder="Repeat Password"
            #inputrePassword="ngModel" required ngModel="Health1234@" minlength="8">
        </div>
        <div class="error" *ngIf="form.errors?.['passwordMatch']">
          Passwords do not match.
        </div>
        <div *ngIf="form.controls['rePassword']?.touched && form.controls['rePassword'].invalid">
          <div *ngIf="form.controls['rePassword'].errors?.['required']" class="error">Password is required.</div>
          <div *ngIf="form.controls['rePassword'].errors?.['minlength']" class="error">Password is too short.</div>
        </div>


        <div class="form-group upload" *ngIf="currentRole=='doctor' || currentRole=='patient'">
          <img src="../../../../assets/images/profile.png" width="60" height="60" alt="">
          <div class="round">
            <span>+

              <input type="file" name="ProfilePicture" class="image" id="image" placeholder="Снимка" #inputimage="ngModel" ngModel
              (change)="handleFileInput($event)">
            </span>
          </div>
        </div>
        <div *ngIf="form.controls['image']?.touched && form.controls['image'].invalid">
          <div *ngIf="form.controls['image'].errors?.['required']" class="error">Image is required.</div>
        </div>
      </div>

      <div class="form-group bottons">
        <button type="submit" class="btn">Register</button>
        <div class="register">
          <p>Already have account? <a routerLink="/doctor/login">Login</a></p>
        </div>
      </div>
    </form>
  </div>

</div>