<div class="container">
  <div class="bg-img">

  </div>
  <div class="form">
    <form #form="ngForm" appPasswordMatch (ngSubmit)="register(form)">
      <div class="input-groups">
        <div class="form-group" *ngIf="currentRole=='pharmacy'||
                    currentRole=='pharmacist'">
          <input type="text" name="Email" id="Email" placeholder="Email" #inputEmail="ngModel" required ngModel>
        </div>
        <div *ngIf="form.controls['Email']?.touched && form.controls['Email'].invalid">
          <div *ngIf="form.controls['Email'].errors?.['required']" class="error">Email is required.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='patient'||
                    currentRole=='pharmacist'">
          <input type="text" name="FirstName" id="firstName" placeholder="Име" #inputfirstName="ngModel" required
            ngModel>
        </div>
        <div *ngIf="form.controls['FirstName']?.touched && form.controls['FirstName'].invalid">
          <div *ngIf="form.controls['FirstName'].errors?.['required']" class="error">Полето е задължително!</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='patient'||
                    currentRole=='pharmacist'">
          <input type="text" name="MiddleName" id="middleName" placeholder="Иванов" #inputmiddleName="ngModel" required
            ngModel>
            <div *ngIf="form.controls['MiddleName']?.touched && form.controls['MiddleName'].invalid">
              <div *ngIf="form.controls['MiddleName'].errors?.['required']" class="error">Полето е задължително!</div>
            </div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='patient'||
                    currentRole=='pharmacist'">
          <input type="text" name="LastName" id="surName" placeholder="Фамилия" #inputsurName="ngModel" required
            ngModel>
        </div>
        <div *ngIf="form.controls['LastName']?.touched && form.controls['LastName'].invalid">
          <div *ngIf="form.controls['LastName'].errors?.['required']" class="error">Полето е задължително!</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='patient'||
                    currentRole=='pharmacist'">
          <input type="text" name="Egn" id="personalId" placeholder="ЕГН" #inputpersonalId="ngModel" required
          minlength="10" pattern="[0-9]+"  ngModel>
        </div>
        <div *ngIf="form.controls['Egn']?.touched && form.controls['Egn'].invalid">
          <div *ngIf="form.controls['Egn'].errors?.['required']" class="error">Моля, въведете ЕГН</div>
          <div *ngIf="form.controls['Egn'].errors?.['minlength']" class="error">Невалидно ЕГН</div>
          <div *ngIf="form.controls['Egn'].errors?.['pattern']" class="error">Mоля, въведете цифри</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='pharmacy'||
                    currentRole=='pharmacist'">
          <input type="text" name="PharmacyName" id="PharmacyName" placeholder="Болница"
            #inputPharmacyName="ngModel" required ngModel>
        </div>
        <div *ngIf="form.controls['PharmacyName']?.touched && form.controls['PharmacyName'].invalid">
          <div *ngIf="form.controls['PharmacyName'].errors?.['required']" class="error">Полето е задължително.</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'||
                    currentRole=='pharmacist'">
          <input type="text" name="UinNumber" id="uinNumber" placeholder="1234567890" #inputuinNumber="ngModel"
            required minlength="10" pattern="[0-9]+"  ngModel>
        </div>
        <div *ngIf="form.controls['UinNumber']?.touched && form.controls['UinNumber'].invalid">
          <div *ngIf="form.controls['UinNumber'].errors?.['required']" class="error">Полето е задължителено!</div>
          <div *ngIf="form.controls['UinNumber'].errors?.['minlength']" class="error">Моля, въведете <br> валиден номер! 10 символа</div>
          <div *ngIf="form.controls['UinNumber'].errors?.['pattern']" class="error">Моля, въведете <br> валиден номер!</div>
        </div>

        <div class="form-group" *ngIf="currentRole=='doctor'">
          <input type="text" name="HospitalName" id="hospitalName" placeholder="Болница"
            #inputhospitalName="ngModel" required ngModel>
        </div>
        <div *ngIf="form.controls['HospitalName']?.touched && form.controls['HospitalName'].invalid">
          <div *ngIf="form.controls['HospitalName'].errors?.['required']" class="error">Мол,я въведете болница</div>
        </div>

        <div class="form-group">
          <input type="text" name="PhoneNumber" id="phoneNumber" placeholder="Мобилен телефон"
            #inputphoneNumber="ngModel" required ngModel>
        </div>
        <div *ngIf="form.controls['PhoneNumber']?.touched && form.controls['PhoneNumber'].invalid">
          <div *ngIf="form.controls['PhoneNumber'].errors?.['required']" class="error">Полето е задължителено!</div>
        </div>

        <div class="form-group">
          <input type="password" name="Password" id="password" placeholder="Парола" #inputpassword="ngModel" required
            ngModel minlength="6">
        </div>
        <div *ngIf="form.controls['Password']?.touched && form.controls['Password'].invalid">
          <div *ngIf="form.controls['Password'].errors?.['required']" class="error">Въведете парола</div>
          <div *ngIf="form.controls['Password'].errors?.['minlength']" class="error">Паролата е прекалено <br> къса.</div>
        </div>

        <div class="form-group">
          <input type="password" name="ConfirmPassword" id="rePassword" placeholder="Потвърдете парола"
            #inputrePassword="ngModel" required ngModel minlength="6">
        </div>
        <!-- {{form.controls['ConfirmPassword'].errors| json}} -->
        <div class="error" *ngIf="form.errors?.['passwordMatch']">
          Passwords do not match.
        </div>
        <div *ngIf="form.controls['ConfirmPassword']?.touched && form.controls['ConfirmPassword'].invalid">
          <div *ngIf="form.controls['ConfirmPassword'].errors?.['required']" class="error">Потвърдете паролата</div>
          <div *ngIf="form.controls['ConfirmPassword'].errors?.['minlength']" class="error">Паролата е прекалено <br> къса</div>
        </div>


        <div class="form-group upload" *ngIf="currentRole=='doctor' || currentRole=='patient'">
          <div style="color:white">Снимка</div>
          <img src="../../../../assets/images/profile.png" width="60" height="60" alt="">
          <div class="round">
            <span>+
              <input type="file" name="ProfilePicture" class="image" id="image" placeholder="Снимка" #inputimage="ngModel" ngModel
              (change)="handleFileInput($event)">
            </span>
          </div>
        </div>
        <div *ngIf="form.controls['ProfilePicture']?.touched && form.controls['ProfilePicture'].invalid">
          <div *ngIf="form.controls['ProfilePicture'].errors?.['required']" class="error">Image is required.</div>
        </div>
      </div>

      <div class="form-group bottons">
        <button type="submit" class="btn">Регистрация</button>
        <div class="register">
          <p>Вече сте регистринани ? <a routerLink="/doctor/login">Вход</a></p>
        </div>
      </div>
    </form>
  </div>

</div>