.container {
  width: 500px;
  min-height: 400px;
  text-align: center;
  margin: 5em auto;
  box-shadow: 8px 11px 20px #7171a5;
}
.add-med {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  align-items: flex-start;
}
.field {
  padding: 8px;
}
.error{
   color: red;
   font-size: 12px;
}

input {
  padding: 8px;
  outline: none;
  border: none;
  border-bottom: 1px solid #7171a5;
}
#medicinePicture{
  border-bottom: none;
}
