<div class="container">
    <h1>Добавяне на ново лекарство</h1>
    <form class="add-med" #form="ngForm" (ngSubmit)="addMedicament(form)">
        <div class="field">
            <label for="name">Име на лекарството:</label>
            <input type="text" name="name" id="name" placeholder="Аналгин" #inputname="ngModel" required ngModel>

            <div *ngIf="form.controls['name']?.touched && form.controls['name'].invalid">
                <div *ngIf="form.controls['name'].errors?.['required']" class="error">Полето е задължително.</div>
            </div>
        </div>

        <div class="field">
            <label for="price">Цена на лекарството: </label>
            <input type="number" name="price" id="price" placeholder="2.99" #inputprice="ngModel" required ngModel>

            <div *ngIf="form.controls['price']?.touched && form.controls['price'].invalid">
                <div *ngIf="form.controls['price'].errors?.['required']" class="error">Полето е задължително.</div>
            </div>
        </div>

        <div class="field">
            <label for="companyCreated">Производител на лекарството: </label>
            <input type="text" name="companyCreated" id="companyCreated" placeholder="АбоФарма"
                #inputcompanyCreated="ngModel" required ngModel>

            <div *ngIf="form.controls['companyCreated']?.touched && form.controls['companyCreated'].invalid">
                <div *ngIf="form.controls['companyCreated'].errors?.['required']" class="error">Полето е задължително.
                </div>
            </div>
        </div>

        <div class="field">
            <label for="medicinePicture">Изображение: </label>
            <input type="file" name="medicinePicture" id="medicinePicture" #inputmedicinePicture="ngModel" required
                ngModel>

            <div *ngIf="form.controls['medicinePicture']?.touched && form.controls['medicinePicture'].invalid">
                <div *ngIf="form.controls['medicinePicture'].errors?.['required']" class="error">Полето е задължително.
                </div>
            </div>
        </div>

        <div class="field">
            <button>Добавяне</button>
        </div>

    </form>
</div>