   <div class="body">
    <div class="site">
            <div class="logo-box">
                <img class="logo" src="../../assets/images/green-pharmacy-symbol.png" alt="">
            </div>
            
            <div class="buttons-box">
                <div class="doctor-patient">
                    <p routerLink="/doctor/login" class="doctor">Доктор</p>
                    <p routerLink="/patient/login"  class="patient">Пациент</p>
                </div>
                <div class="pharmacist-pharmacy">
                    <p routerLink="/pharmacist/login"  class="pharmacist">Фармацевт</p>
                    <p routerLink="/pharmacy/login">Аптека</p>
                </div>
            </div>
        </div>
</div>
