<div class="container" *ngIf="!noUser">
    <div *ngIf="noRecipes" class="no-recipes">
        <p>Пациантът няма налични рецепти!</p>
    </div>
    <app-loader *ngIf="loaderService.loading$.source._value"></app-loader>
    <div *ngIf="!noRecipes" class="profile-header">
        <h3>Личен профил</h3>
        <div class="fields">
            <div class="field">
                <img [src]="'data:image/png;base64,'+ profileImage"
                    alt="profile-img">
            </div>
            <div class="field">
                <div class="sub-field">
                    <p  class="label">Имена: </p>
                    <p class="text" id="fullName" >{{name}}</p>
                </div>
                <div class="sub-field">
                    <p class="label"  >ЕГН: </p>
                    <p class="text" id="personalId">{{id}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-body" *ngIf="prescriptions?.length>0">
        <div class="category-recipes">
            <button (click)="setFulfilled(true)" [ngClass]="{'active':isFulfilled, 'unactive':!isFulfilled}">Изпълнени рецепти</button>
            <button (click)="setFulfilled(false)" [ngClass]="{'active':!isFulfilled, 'unactive':isFulfilled}">Активни рецепти</button>
        </div>

         <div class="recipe" *ngFor="let prescription of displayedRecipes">
            <h4>{{prescription.createdAt}} <span *ngIf="prescription.isFulfilled">Изпълнена</span></h4>
            <div class="recipe-body">
                <div class="meds">
                    <p>Предписани лекарства:</p>
                    <ul>
                        <li *ngFor="let medicament of prescription.medicaments">{{medicament}}</li>
                    </ul>
                </div>
                <div class="details">
                    <p>Валидна до: {{prescription.expiresAt }}</p>
                    <button [routerLink]="'/recipe/' + prescription.prescriptionId">Детайли</button>
                </div>
            </div>
        </div>

        <div class="pagination">
            <button class="pagination-btn" (click)="goToPage(pageNumber - 1)" [disabled]="pageNumber === 1"> &#171;</button>

            <div class="page-number">{{ pageNumber }}</div>

            <button class="pagination-btn" (click)="goToPage(pageNumber + 1)" [disabled]="pageNumber === maxPage">&#187;</button>
          </div>
    </div>

</div>
