.container {
    max-width: 500px;
    min-height: 100px;
    margin: 0 auto;
    box-shadow: 3px 5px 20px #00000063;
  }

  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #C2EBE2;
  }

  .fields {
    display: flex;
    flex-direction: row;
    background: white;
    margin: 15px 0;
    border-radius: 20px;
  }

  .field {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 15px #00000066;
  }

  .sub-field{
    display: flex;
  }

  .sub-field .label{
    flex: 1;
    font-weight: 900;

  }

  .sub-field .text{
    flex:2;
  }

  .sub-field p{
    padding: 0;
    height: fit-content;
  }

  .profile-body {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
  }

  .recipe {
      width: 90%;
      align-self: center;
      padding-bottom: 10px;
      border-radius: 20px;
      margin: 10px;
      transition: transform 0.3s;
  }

  .recipe:hover{
    box-shadow: 1px 1px 20px #000000a6;
    transform: scale(1.04);
  }

  .recipe-body {
    display: flex;
    justify-content: space-around;
  }

  .startChatBtn{
    padding: 10px;
    background-color: #265978;
    border-radius: 100px;
    border: none;
    color: white;
    transition: 0.5s;
  }
  .startChatBtn:hover{
    scale: 1.1;
    
  }
.startChatBtn:hover{
  cursor: pointer;
}


  .meds{
    flex: 2;
  }

  .details{
    flex: 1;
  }

  .labels{
    font-weight: 600;
    padding: 0 10px;
  }

  .sub-label{
    display: block;
    font-weight: 100;
  }

  .meds-list{
    margin: 0;
    padding: 0 15px;
    font-style: italic;
  }

  .category-recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 9px 0
  }

  .category-recipes button {
    border: none;
    padding: 8px 5px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
  }

  .category-recipes .active {
    border-bottom: 1px solid black ;
  }

  .category-recipes  .unactive {
    border-bottom: none;
  }

  /* ul,
  p {
    padding-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
  } */
  /* p{
      font-style: italic;
  } */

  li {
    list-style-type: none;
  }

  .recipe button{
    border: none;
    background: #c2ebe2;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    width: 60%;
    margin-left: 10px;
    display: block;
  }
  h4{
      margin: 10px 20px;
  }
  h3{
    margin: 0 auto;
  }
/*
  app-loader{
    border: 1px solid red;
  } */

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .page-number {
    margin: 0 10px;
    font-weight: bold;
  }

  .pagination-btn {
    font-size: 22px;
    border: none;
    background: transparent;
    color: #36d4b1;
    cursor: pointer;
  }
  .pagination-btn:disabled{
    color: white;
cursor: auto;
  }

  .no-recipes p{
    text-align: center;
    font-size: 19px;
    padding-top: 30px;
  }