<div class="container">
    <div class="profile-header">
        <h3>Личен профил</h3>
        <div class="fields">
            <div class="field">
                <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTY1LWtsaGN3ZWNtLmpwZw.jpg"
                    alt="profile-img">
            </div>
            <div class="field">
                <div class="sub-field">
                    <label for="fullName">Имена: </label>
                    <input type="text" id="fullName" type="text" name="fullName" id="fullName"
                        value={{name}} disabled>
                </div>
                <div class="sub-field">
                    <label for="personalId">ЕГН: </label>
                    <input id="personalId" placeholder="egn" type="number" name="personalId"
                         value={{id}}  disabled>
                </div>
            </div>
        </div>
    </div>

    <app-loader *ngIf="loaderService.loading$.source._value"></app-loader>
    <div class="profile-body" *ngIf="prescriptions?.length>0">
        <div class="category-recipes">
            <button (click)="setFulfilled(true)" [ngClass]="{'active':isFulfilled, 'unactive':!isFulfilled}">Изпълнени рецепти</button>
            <button (click)="setFulfilled(false)" [ngClass]="{'active':!isFulfilled, 'unactive':isFulfilled}">Активни рецепти</button>
        </div>

         <div class="recipe" *ngFor="let prescription of displayedRecipes">
            <h4>{{prescription.createdAt}} <span *ngIf="prescription.isFulfilled">Изпълнена</span></h4>
            <div class="recipe-body">
                <div class="meds">
                    <p>Предписани лекарства:</p>
                    <ul>
                        <li *ngFor="let medicament of prescription.medicaments">{{medicament}}</li>
                    </ul>
                </div>
                <div class="details">
                    <p>Валидна до: {{prescription.expiresAt }}</p>
                    <button [routerLink]="'/recipe/' + prescription.prescriptionId">Детайли</button>
                </div>
            </div>
        </div>


    </div>

</div>
