
<div *ngIf="currentMedicine" class="site">

    <div class="left-box">
        <div class="product-image">
            <img src="data:image/jpeg;base64,{{imageSrc}}" alt="nqma">
        </div>
        <div class="price">
            <p>{{currentMedicine.price}} лв</p>
        </div>
    </div>
    <div class="right-box">
        <p class="name">{{currentMedicine.name}}</p>
        <p class="details">Детайли</p>
        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsam voluptates dolor a, magnam impedit iure omnis ex fuga sequi perferendis excepturi sed quam perspiciatis numquam unde in quo velit culpa est blanditiis. Est, repudiandae dolorum exercitationem eaque, voluptatum ad quasi accusamus rem saepe incidunt aliquam consequatur repellendus fugiat natus beatae sed ipsa dolorem. Amet veritatis molestias ipsam illo repudiandae similique laboriosam natus molestiae soluta! Molestias quibusdam reprehenderit, nam illo porro sunt. Ab ratione adipisci iusto ea laboriosam eos asperiores vero numquam ad nihil repudiandae, repellendus, facilis commodi reprehenderit necessitatibus distinctio quos saepe quidem voluptatem libero temporibus minima voluptates amet?</p>
    </div>
</div>
