
<div *ngIf="currentMedicine" class="site">

    <div class="left-box">
        <div class="product-image">
            <img src={{imageSrc}} alt="nqma">
            <!-- <img src="data:image/jpeg;base64,{{imageSrc}}" alt="nqma"> -->

        </div>
        <div class="price">
            <p>{{currentMedicine.price}} лв</p>
        </div>
    </div>
    <div class="right-box">
        <p class="name">{{currentMedicine.name}}</p>
        <p class="details">Описание</p>
        <p class="content">{{currentMedicine.medicineDetails}}</p>
    </div>
</div>
<app-loader *ngIf="ls.loading$.source._value"></app-loader>