*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../../../assets/images/add=pharmacy-background.avif');
}
form {
    border: 2px solid rgb(152, 151, 151);
    /* text-align: center; */
    padding: 2em;
    backdrop-filter: blur(5px);
    border-radius: 0.5em;
}
.container {
    /* width: 500px; */
    height: 90vh;
    /* border: 1px solid red; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    /* margin-top:8em; */
    /* margin: 0 auto; */


}
.form-group {
    text-align: center;
    padding: 0.4em;
    margin-left: 5em;
    border-radius: 0.5em;

}
input {
    text-align: center;
    width: 300px;
    font-size: 16px;
    border-radius: 0.5em;

    margin-left: -5em;
}
.title {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(253, 253, 253)
}
textarea {
    font-size: 16px;
    width: 300px;
    height: 100px;
    margin-left: -5em;
}
#price {
    width: 60%;
}
#price ,#name {
    height: 2em;
    font-weight: bold;
}
button {
    margin-left: -4em;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.3em;
}
button:hover {
    background-color: #bad6f8;
}
.error {
    margin-right: 5em ;
    color: red;
}

.test {
    display: flex;
    flex-direction: column;
}
label {
    display:block;
    /* text-align: center; */
    margin-right: 5em;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  input[type="file"] {
    /* position:sticky */
    color: white;
    /* display: none; */
  }


@media (max-width:400px) {
    body{
        font-size: 0.8em;
    }
    .title {
        color:rgb(18, 139, 97);
    }
}